@page "/main"
@attribute [Authorize]
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Http
@using HRISBlazorServerApp.Models
@inject IHttpContextAccessor httpContextAccessor
@inject TokenProvider token
@inject ILocalStorageService localStorage


<PageTitle>Main</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@code {
    protected override async Task OnInitializedAsync()
    {

    }
 }