@using HRIS.Application.Departments.Dtos.Queries;


@{
    ViewData["Title"] = "Employee";
    ViewData["Header"] = "Employee List";

    <div class="row" style="margin-bottom:20px">
        <div class="col-sm-12">
            <a asp-controller="employee" asp-action="create"
           class="btn btn-info btninfo-box"
           style="width:200px;">Create New Employee</a>
        </div>
    </div>

    <div id="employee-list"></div>
}

@section Styles{
    <style>
        .alertCustom {
            border-radius: 10px;
            padding: 20px;
            background-color: #ffb84d;
            color: white;
            margin: 10px;
            text-align: center;
        }

        .toastCustom {
            min-width: 200px;
        }
    </style>
}

@section scripts{

    

    <script type="text/javascript">
        var message = '@TempData["Message"]';
        var val = '@TempData["IsHasError"]';
    </script>

    <script src="~/site/customsite.js"></script>
    <script src="~/site/employees-page.js"></script>



}





