@using HRIS.Application.Departments.Dtos.Queries;

@{
    ViewData["Title"] = "Employee";
    ViewData["Header"] = "Employee List";


    <div id="employee-list"></div>
}

@section scripts{
    <script src="~/site/customsite.js"></script>
    <script src="~/site/employees-page.js"></script>
}





