@using HRIS.Application.Departments.Dtos.Queries;

@{
    ViewData["Title"] = "Departments";
    ViewData["Header"] = "Department List";

    <div id="department-list"></div>
}

@section scripts{
    <script src="~/site/customsite.js"></script>
    <script src="~/site/department-page.js"></script>
}





