@page "/"
@layout LoginLayout
@inherits LoginBase

<title>Login</title>

<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .alert {
        border-radius: 10px;
        padding: 20px;
        background-color: #ffb84d;
        color: white;
        margin: 10px;
        text-align: center;
    }


    form {
        border: 0px solid #f1f1f1;
        width: 500px;
        margin: 0 auto;
        vertical-align: middle;
        margin-top: 7%;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    img.avatar {
        width: 40%;
        border-radius: 50%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @@media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }

        .cancelbtn {
            width: 100%;
        }
    }
</style>



<div class="container">
    <RadzenNotification />
    <EditForm Model="loginModel" OnValidSubmit="HandleLogin">
        <div style ="text-align:center">
            <h3>Welcome to HR Information System</h3>
        </div>
        

        @if (ShowErrors)
        {
            <div class="alert">
                @Error
            </div>
        }

        <div class="form-group">
            <label class="col-form-label" for="username">Username</label>
            <input type="text" class="form-control form-control-sm" @bind="loginModel.Username" />
            <ValidationMessage For="@(() => loginModel.Username)" />
        </div>


        <div class="form-group">
            <label class="col-form-label" for="password">Password</label>
            <input type="password" class="form-control form-control-sm" @bind="loginModel.Password" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>
        <button type="submit" class="btn btn-primary" style="float:right">SIGN IN</button>
    </EditForm>

</div>

